{% extends 'base.html' %}

{% block content %}

<section>
  <h1 class="heading-1">categories</h1>
  <div class="categories-list-container">
    <div class="categories-list-wrapper">
      <table>
          <thead class="category-head">
            <tr>
              <th class="category-head-item">Name</th>
              <th class="category-head-item">Lead count</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="category-head-item">Unassigned</td>
              <td class="category-head-item">{{ unassigned_lead_count }}</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock %}