{% extends 'base.html' %}

{% block content %}

<section class="">
  <div class="">
    <div class="">
      <h1 class="">Categories</h1>
      <p class="">
        these categories segment your leads
      </p>
    </div>
    <div class="">
      <table class="">
        <thead>
          <tr>
            <th class="">Name</th>
            <th class="">Lead count</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="">Unassigned</td>
            <td class="">{{ unassigned_lead_count }}</td>
          </tr>
          <tr>
            {% for category in category_list %}
            <a href="{% url 'leads:category-detail' category.pk %}">
              <td class="">{{ category.name }}</td>
            </a>
            <td class="">TODO</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock %}