{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="">
    <div class="">
        <div class="heading-wrapper">
            <h1 class="heading-3">Leads</h1>
        </div>
        <div class="links-wrapper">
            <a class="nav-link" href="{% url 'leads:category-create' %}">
                create a category
            </a>
            {% if request.user.is_organiser %}
            <a class="nav-link" href="{% url 'leads:lead-create' %}">
                create lead
            </a>
            {% endif %}
        </div>
        <div class="divider"></div>
        <div class="">
            {% for lead in leads %}
            <div class="leads-container">
                <div class="lead-wrapper">
                    <h2>
                        <a class="nav-link" href="{% url 'leads:lead-detail' lead.pk %}">{{ lead.first_name }}
                            {{ lead.last_name }}</a>
                    </h2>
                    <div class="lead-span-wrapper">
                        {% if lead.category %}
                        <span class="lead-span">
                            {{ lead.category.name }}
                        </span>
                        {% else %}
                        <span class="lead-span">
                            Unassigned
                        </span>
                        {% endif %}
                    </div>
                    <a href="{% url 'leads:lead-update' lead.pk %}" class="lead-link">
                        edit
                    </a>
                </div>
                {% empty %}
                <p class="no-leads">there are currently no leads</p>
            </div>
            {% endfor %}
            <div class="divider"></div>
            <div class="heading-wrapper">
                <h1 class="heading-3">Unassigned leads</h1>
            </div>
            {% if unassigned_leads.exists %}
            {% for lead in unassigned_leads %}
            <div class="">
                <div class="leads-container">
                    <div class="lead-wrapper-2">
                        <h2 class="heading-2">
                            {{ lead.first_name }} {{ lead.last_name }}
                        </h2>
                        <a href="{% url 'leads:assign-agent' lead.pk %}" class="lead-link">
                            assign agent
                        </a>
                    </div>
                </div>
                {% empty %}
                <p class="no-leads">there are currently no unassigned_leads leads</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %}