{% extends 'base.html' %}

{% block content %}

<section class="">
    <div class="">
        <h1 class="heading-1">Leads</h1>
        <div class="links-wrapper">
            <a class="nav-link" href="{% url 'leads:category-list' %}">
                view categories
            </a>
            {% if request.user.is_organiser %}
            <a class="nav-link" href="{% url 'leads:lead-create' %}">
                create lead
            </a>
            {% endif %}
        </div>
        <div class="divider"></div>
        <div class="">
            {% for lead in leads %}
                <div class="leads-container">
                    <div class="lead-wrapper">
                        <h2 class="heading-2">
                            {{ lead.first_name }} {{ lead.last_name }}
                        </h2>
                        <div class="lead-span-wrapper">
                        {% if lead.category %}
                        <span class="lead-span">
                            {{ lead.category.name }}
                        </span>
                    {% else %}
                        <span class="lead-span">
                            Unassigned
                        </span>
                    {% endif %}
                         </div>
                        <a href="{% url 'leads:lead-detail' lead.pk %}" class="lead-link">
                            edit
                        </a>
                    </div>
                </div>
            {% endfor %}
            <div class="divider"></div>
           <!-- {% if unassigned_leads.exists %}
            {% for leads in unassigned_leads %}-->
            <h1 class="">Unassigned leads</h1>
            <div class="">
                <div class="">
                    <div class="">
                        <h2 class="">
                            {{ lead.first_name }} {{ lead.last_name }}
                        </h2>
                        <p class="">Blue bottle.</p>
                        <a href="{% url 'leads:assign-agent' lead.pk %}" class="">
                            assign agent
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %}