<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>lead detail</h1>
    <p>Details of {{ lead.first_name }}</p>
    <p>leads age {{ lead.age }}</p>
    <p>agent responsible for lead is: {{ lead.agent }}</p>
    <hr>
    <a href="/leads/{{ lead.pk }}/update/">Update</a>
    <a href="/leads/{{ lead.pk }}/delete/">Delete</a>
</body>
</html>