{% extends 'base.html' %}

{% block content %}

<section>
  <h2>lead details</h2>
  <h1>{{ lead.first_name }}  {{ lead.last_name }}</h1>
  <div>
    <div>
      <a href="{% url 'leads:lead-detail' lead.pk %}">Overview</a>
      <!--<a href="{% url 'leads:lead-category-update' %}">Category</a>-->
      <a href="{% url 'leads:lead-update' lead.pk %}">Update</a>
    </div>
    <div>
      <div>
        <div>
          <span>age</span>
          <span>{{ lead.age }}</span>
        </div>
        <div>
          <span>address</span>
          <span>{{ lead.address }}</span>
        </div>
        <div>
          <span>phone</span>
          <span>{{ lead.phone }}</span>
        </div>
        <div>
          <span>email</span>
          <span>{{ lead.email }}</span>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}