{% extends 'base.html' %}

{% block content %}

<section>
  <div class="heading-wrapper">
    <h2 class="heading-lead-detail">lead details</h2>
    <h1 class="heading-lead-detail-name">{{ lead.first_name }} {{ lead.last_name }}</h1>
  </div>
  <div>
    <div>
      <a href="{% url 'leads:lead-detail' lead.pk %}">Overview</a>
      <a href="{% url 'leads:lead-category-update' lead.pk %}">Category</a>
      <a href="{% url 'leads:lead-update' lead.pk %}">Update</a>
    </div>
    <div class="lead-detail-container">
      <div class="lead-detail-wrapper">
        <div>
          <span>age</span>
          <span>{{ lead.age }}</span>
        </div>
        <div>
          <span>address</span>
          <span>{{ lead.address }}</span>
        </div>
        <div>
          <span>phone</span>
          <span>{{ lead.phone }}</span>
        </div>
        <div>
          <span>email</span>
          <span>{{ lead.email }}</span>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}