{% extends 'base.html' %}

{% block content %}

<section class="">
    <div class="">
                <h1 class="heading-1">Leads</h1>
            <div class="">
                <a href="{% url 'leads:category-list' %}">
                    View categories
                </a>
                {% if request.user.is_organiser %}
                <a class="" href="{% url 'leads:lead-create' %}">
                    create lead
                </a>
                {% endif %}
        </div>
        <div class="">
            {% for lead in leads %}
            <div class="">
                <div class="">
                    <div class="">
                      
                    </div>
                    <div class="flex-grow">
                        <h2 class="text-gray-900 text-lg title-font font-medium mb-3">
                            {{ lead.first_name }} {{ lead.last_name }}
                        </h2>
                        <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast
                            vegan taxidermy. Gastropub indxgo juice poutine.</p>
                        <a href="{% url 'leads:lead-detail' lead.pk %}" class="">
                            view this lead
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if unnasigned_leads.exists %}
            {% for leads in unnasigned_leads %}
            <h1>Unassigned leads</h1>
            <div class="">
                <div class="">
                    <div class="">
                      
                    </div>
                    <div class="">
                        <h2 class="">
                            {{ lead.first_name }} {{ lead.last_name }}
                        </h2>
                        <p class="leading-relaxed text-base">Blue bottle.</p>
                        <a href="{% url 'leads:assign-agent' lead.pk %}" class="">
                            assign agent  
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}