@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
}


.navbar {
    height: auto;
    width: 100%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    padding: 10px 0;
    width: 200px;
    height: auto;
}

.navbar ul li {
    /*display: inline-block;*/
    list-style-type: none;
    margin-top: 10px;
    cursor: pointer;
    width: 200px;
}

.logout-button {
    color: #0000;
    font-size: 2em;
    width: 100%;
    max-width: 200px;
    margin: 1em auto;
    text-decoration: none;
    background-color: #f9f8f3;
    padding-bottom: 0.12em;
    border-radius: 0.2em;
    display: block;
    text-align: center;
    border: none;
}
 
.sign-button {
    color: white;
    font-size: 2em;
    width: 100%;
    max-width: 200px;
    margin: 1em auto;
    text-decoration: none;
    background-color: #b1415c;
    padding-bottom: 0.12em;
    border-radius: 0.2em;
    display: block;
    text-align: center;
    border: none;
}


.login-button {
    background-color: #242f62;
    color: white;
    font-size: 1.8em;
    width: 100%;
    max-width: 200px;
    margin: 1em auto;
    text-decoration: none;
    padding: 0.5em 0 0.5em 0;
    border-radius: 0.2em;
    display: block;
    text-align: center;
    border: none;
}

.login-button-navbar {
    background-color: #BECFDF;
    color: #242f62;
    font-weight: bold;
    font-size: 1.8em;
    width: 100%;
    max-width: 200px;
    margin: 1em auto;
    text-decoration: none;
    padding: 0.5em 0 0.5em 0;
    border-radius: 0.2em;
    display: block;
    text-align: center;
    border: none;
}

.login-icon {
    background-color: #ffff;
    width: 20px;
    color:#242f62;
}

.navbar > a:visited {
    color: white;
    background-color: #242f62;
    text-decoration: none;
}

.hero-image-container {
    width: 100%;
    height: auto;
    margin-top: 8em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-img {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.heading-1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0.5em auto;
    text-align: center;
    color: #242f62;
    font-weight: bold;
}

.landing-text-container {
    width: 250px;
    height: auto;
    margin: 2em auto; 
    
}

.landing-text { 
    font-size: 1.7em;
}




/* sign in forms */

.signup-form-wrapper {
    width:200px;
    height: auto;
    margin: 3em auto;
    font-size: 2em;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    height: 3em;
    border-radius: 1em;
}

label {
    font-size: 2em;
}

.signup-form {
    width: 100%;
    font-size: 2.7em;
    list-style-type: none;
}

.signup-form ul li {
    list-style-type: none;
    display: none;
}

.signup-form span {
    font-size: 1.3em;
}

.signup-form p {
    margin-top: 2em;
}



.forgot-password-wrapper {
    width: 200px;
    height: auto;
    margin: 1em auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.forgot-password {
    text-align: center;
    font-size: 1.3em;
    margin-top: 0.5em;
}


