@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
}


.navbar {
    height: auto;
    width: 100%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    padding: 10px 0;
    width: 200px;
    height: auto;
}

.navbar ul li {
    /*display: inline-block;*/
    list-style-type: none;
    margin-top: 10px;
    cursor: pointer;
    width: 200px;
}

.divider {
    border: 1px solid #242f62;
    width: 90%;
    margin: 2em auto;
}

.login-icon {
    background-color: #ffff;
    width: 20px;
    color:#242f62;
}

.navbar > a:visited {
    color: white;
    background-color: #242f62;
    text-decoration: none;
}

.hero-image-container {
    width: 100%;
    height: auto;
    margin-top: 8em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-img {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.heading-1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0.5em auto;
    text-align: center;
    color: #242f62;
    font-weight: bold;
}

.heading-2 {
    font-size: 1.5em;
    color: #242f62;
    font-weight: bold;
    
}

.heading-3 {
    font-size: 1.8em;
    color: #242f62;
    font-weight: bold;
    margin-left: 2em;
}

.landing-text-container {
    width: 250px;
    height: auto;
    margin: 2em auto; 
    
}

.landing-text { 
    font-size: 1.7em;
}

.nav-span {
    font-size: 1.3em;
}

.nav-link {
    font-size: 1.5em;
    color: black;
    cursor: pointer;
}

.nav-link:visited {
    text-decoration: none;
    color: black;
    margin: 0.5em auto;
}



/* sign in forms */

.signup-form-wrapper {
    width:200px;
    height: auto;
    margin: 3em auto;
    font-size: 2em;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    height: 3em;
    border-radius: 1em;
}

label {
    font-size: 2em;
}

.signup-form {
    width: 100%;
    font-size: 2.7em;
    list-style-type: none;
}

.signup-form ul li {
    list-style-type: none;
    display: none;
}

.signup-form span {
    font-size: 1.3em;
}

.signup-form p {
    margin-top: 2em;
}

textarea {
    width: 100%;
    font-size: 1.7em;
}



.forgot-password-wrapper {
    width: 200px;
    height: auto;
    margin: 1em auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.forgot-password {
    text-align: center;
    font-size: 1.3em;
    margin-top: 0.5em;
}



/* lead list */

.links-wrapper {
    width: 90%;
    margin: 0.5em auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leads-container {
    width: 100%;
    height: auto;
    margin: 1em auto;
}

.lead-wrapper {
    width: 90%;
    height: auto;
    margin: 0.5em auto;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: 2px solid #a5dbe5;
    border-radius: 1em;
}

.lead-wrapper-2 {
    width: 90%;
    height: auto;
    margin: 0.5em auto;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    border: 2px solid #a5dbe5;
    border-radius: 1em;
}

.lead-span-wrapper {
    align-self: center;
    text-align: left;
}

.lead-span {
    color: #5f5f5f;
    font-size: 1.3em;
    background-color: #f9f8f3;
    padding: 0.2em 0.4em 0.2em 0.4em;
    border-radius: 50px;
}

.lead-link {
    font-size: 1.2em;
    text-align: right;
    text-decoration: none;
    align-self: center;
    font-weight: bold;
    color: #b1415c;
}


.categories-list-container {
    width: 100%;
    border: 1px solid red;
    height: auto;
}

.categories-list-wrapper {
    width: 80%;
    border: 1px solid red;
}

.category-head {
    background-color: #becfdf;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}

.category-head-item {
    font-size: 1.4em;
}



/* lead detail */

.heading-wrapper {
    width: 25em;
    margin: 0.5em auto;
    border: 1px solid red;
}

.heading-lead-detail {
    font-size: 1.4em;
    color: #becfdf;
    margin-bottom: 0.2em;
}

.heading-lead-detail-name {
    font-size: 2.2em;
    margin-bottom: 0.5em;
}

.lead-detail-links-wrapper {
    width: 90%;
    margin: 0.5em auto;
}



/* buttons  */

.logout-button {
    color: rgb(0, 0, 0);
    font-size: 1.7em;
    width: 100%;
    max-width: 200px;
    margin: 1em auto;
    text-decoration: none;
    background-color: #becfdf;
    padding: 0.15em 0 0.15em 0;
    border-radius: 0.2em;
    display: block;
    text-align: center;
    border: none;
}
 
.sign-button {
    color: white;
    font-size: 2em;
    width: 100%;
    max-width: 200px;
    margin: 1em auto;
    text-decoration: none;
    background-color: #b1415c;
    padding-bottom: 0.12em;
    border-radius: 0.2em;
    display: block;
    text-align: center;
    border: none;
}


.login-button {
    background-color: #242f62;
    color: white;
    font-size: 1.8em;
    width: 100%;
    max-width: 200px;
    margin: 1em auto;
    text-decoration: none;
    padding: 0.5em 0 0.5em 0;
    border-radius: 0.2em;
    display: block;
    text-align: center;
    border: none;
}

.login-button-navbar {
    background-color: #BECFDF;
    color: #242f62;
    font-weight: bold;
    font-size: 1.8em;
    width: 100%;
    max-width: 200px;
    margin: 1em auto;
    text-decoration: none;
    padding: 0.5em 0 0.5em 0;
    border-radius: 0.2em;
    display: block;
    text-align: center;
    border: none;
}