{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>BES CRM</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock content %}
</body>
<script src="https://kit.fontawesome.com/9a2761774c.js" crossorigin="anonymous"></script>
<script script src="{% static 'js/main.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/….js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>