{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="">
  <div class="hero-image-container">
    <img class="hero-img" alt="hero"
      src="https://res.cloudinary.com/dontkrfjd/image/upload/v1654350313/favpng_customer-relationship-management-business-computer-software-enterprise-resource-planning_p3khdh.png">
    <h1 class="heading-1" id="heading">BES</h1>
    <div class="landing-text-container">
      <p class="landing-text">Bohemain Estates International</p>
      <p class="landing-text">client relationship manager</p>
      <p class="landing-text">for sales</p>
    </div>
    <div class="">
      <a href="{% url 'login' %}" class="login-button">start working</a>
    </div>
  </div>
</section>

{% endblock %}