{% extends 'base.html' %}

{% block content %}

<section class="">
    <div class="">
      <img class="hero-img" alt="hero" src="https://res.cloudinary.com/dontkrfjd/image/upload/v1654350313/favpng_customer-relationship-management-business-computer-software-enterprise-resource-planning_p3khdh.png">
      <div class="">
        <h1 class="">Microdosing synth tattooed vexillologist</h1>
        <p class="">Meggings kinfolk echo park stumptown DIY, kale chips beard jianbing tousled. Chambray dreamcatcher trust fund, kitsch vice godard disrupt ramps hexagon mustache umami snackwave tilde chillwave ugh. Pour-over meditation PBR&amp;B pickled ennui celiac mlkshk freegan photo booth af fingerstache pitchfork.</p>
        <div class="">
          <button class="">Button</button>
          <button class="">Button</button>
        </div>
      </div>
    </div>
  </section>

{% endblock %}