<div class="header-container">
    <header>
        <nav class="navbar">
            {% if not request.user.is_authenticated %}
            <a href="{% url 'landing_page' %}"><img src="https://res.cloudinary.com/dontkrfjd/image/upload/v1653941174/logo-blue_hs6ari.svg" alt="Bohemian Estates Logo" class="logo"></a>
            {% else %}
            <a href="{% url 'leads:lead-list' %}"><img src="https://res.cloudinary.com/dontkrfjd/image/upload/v1653941174/logo-blue_hs6ari.svg" alt="Bohemian Estates Logo" class="logo"></a>
            {% endif %}
            <ul class="nav-link-wrapper">
                {% if not request.user.is_authenticated %}
                <li class="nav-link-item">
                    <a class="sign-button" href="{% url 'signup' %}">Signup</a>
                </li>
                {% else %}
                {% if request.user.is_organiser %}
                <li class="nav-link-item">
                    <a class="nav-link navbar-link" href="{% url 'agents:agent-list' %}">Agents</a>
                </li>
                {% endif %}
                <li class="nav-link-item active">
                    <a class="nav-link navbar-link" href="{% url 'leads:lead-list' %}">Leads</a>
                </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <span  class="nav-span">Your are logged in: {{request.user.username}}</span>
                <li class="nav-link-item">
                    <a class="logout-button" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-link-item">
                    <a class="login-button-navbar" href="{% url 'login' %}">Login<i class="fa-regular fa-arrow-right-to-bracket"></i></a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
</div>