<header class="">
    <div class="">
        <a href="{% url 'landing_page' %}" class="">
            <img src="https://res.cloudinary.com/dontkrfjd/image/upload/v1653941174/logo-blue_hs6ari.svg" >
            <p class="ml-0 text-xl">BES CRM</p>
        </a>
        <nav class="">
        {% if not request.user.is_authenticated %}
            <a href="{% url 'signup' %}"class="">Signup</a>
            {% else %}
            {% if request.user.is_organiser %}
            <a href="{% url 'agents:agent-list' %}" class="">Agents</a>
            {% endif %}
            <a href="{% url 'leads:lead-list' %}" class="">Leads</a>
        {% endif %}
        </nav>
        {% if request.user.is_authenticated %}
            Your are logged in: {{ request.user.username }}
            <a href="{% url 'logout' %}">
                <button class="">
                    LogOut
            </button>
            </a>
        {% else %}
        <a href="{% url 'login' %}"><button class="">
            Login
        </button>
        </a>
        {% endif %}
    </div>
</header>