<header>
    <div class="logo">
        <a href=""><img src="" alt=""></a>
    </div>
    <button class="hamburger">
        <i class="menuIcon material-icons">menu</i>
        <i class="closeIcon material-icons">close</i>
      </button>
    <nav id="navbar">
        <ul class="menu">
            <li><a class="menuItem" href="#">home</a></li>
            <li><a class="menuItem" href="#">SignUp</a></li>
            <li><a class="menuItem" href="#">Login</a></li>
          </ul>
    </nav>
</header>